<div class="panel panel-info">
  <div class="panel-heading">
    Using jQuery UI Autocomplete
  </div>

  <div class="panel-body">
    <p>Create elegant taggable fields with copy/paste and keyboard support.</p>

    {{input-tokenfield value="red,green,blue" 
                       placeholder="Type something and hit enter"
                       autocomplete=autocomplete
                       showAutocompleteOnFocus=true}}
    <br>

    Controller
    <pre>autocomplete: {
  source: ['red','blue','green','yellow','violet','brown','purple','black','white'],
  delay: 100
}</pre>
    Template
<pre>\{{input-tokenfield value="red,green,blue" 
                   placeholder="Type something and hit enter"
                   autocomplete=autocomplete
                   showAutocompleteOnFocus=true}}</pre>
  </div>
</div>
