<div class="panel panel-info">
  <div class="panel-heading">
    Using Twitter Typeahead
  </div>

  <div class="panel-body">
    {{input-tokenfield value="red,green,blue"
                       placeholder="Type something and hit enter"
                       typeahead=typeahead}}
    <br>

    Controller
<pre>typeahead: (function() {
  var engine = new Bloodhound({
    local: [{value: 'red'}, {value: 'blue'}, {value: 'green'} , 
            {value: 'yellow'}, {value: 'violet'}, {value: 'brown'}, 
            {value: 'purple'}, {value: 'black'}, {value: 'white'}],
    datumTokenizer: function(d) {
      return Bloodhound.tokenizers.whitespace(d.value);
    },
    queryTokenizer: Bloodhound.tokenizers.whitespace
  });
  engine.initialize();

  return [null, { source: engine.ttAdapter() }];
})()</pre>
      Template
<pre>\{{input-tokenfield value="red,green,blue"
                   placeholder="Type something and hit enter"
                   typeahead=typeahead}}</pre>
  </div>
</div>
